/* generic */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

li {
  list-style-type: none;
}

a{
  text-decoration: none;
  color: inherit;
}

.navigation {
  white-space: nowrap;
}

/* Home Page */
.section1 {
  height: 100vh;
}

.section1 .home-text {
  padding-top: 5%;
}

@media (min-width: 768px ) {
  .section1 img{
    height: 100%;
    width: auto;
    object-fit: cover;
    padding-top: 0;
  }
}

.section1 .sub-header {
  font-size: 1.5em;
  color: #5D16EA;
}

.section1 .main-header {
  font-size: 2.5em;
}

.section1 .text {
  font-size: 1.1em;
}

.section1 .home-btn {
  max-width: fit-content;
  white-space: nowrap;
  border-radius: 10px;
}

.section1 .home-btn .home-btn1 {
  background-color: #5D16EA;
  color: white;
}
.section1 .home-btn .home-btn1:hover {
  background-color: #500fd3;
}
.section1 .home-btn .home-btn2 {
  border: 1px solid #F7ADAF;
  color: #F7ADAF;
}
.section1 .home-btn .home-btn2:hover {
  border: 1px solid #db9698;
 color: #500fd3;
}

.communities {
  background-color: #EFF2F8;
}

.communities img {
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
  min-height: 100%;
}


/* login and signup*/

.login-page, .signup-page {
  width: 80%;
  padding: 8% 0 0;
  margin: auto;
}

.login-form, .signup-form{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 60%;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.login-form input, .signup-form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.login-form button, .signup-form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #5D16EA;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.login-form button:hover,.login-form button:active,.login-form button:focus,
.signup-form button:hover,.signup-form button:active,.signup-form button:focus 
{
  background: #500fd3;
}

.login-form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.login-form .message a, .signup-form .message a, .about a, .blog a
 {
  color: #F7ADAF;
  text-decoration: none;
}
.login-form .message a:hover, .signup-form .message a:hover, .about a:hover, .blog a:hover
 {
  color: #500fd3;
  text-decoration: none;
}


/* Error Page */

#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 240px;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 252px;
  font-weight: 900;
  margin: 0px;
  color: #262626;
  text-transform: uppercase;
  letter-spacing: -40px;
  margin-left: -20px;
}

.notfound .notfound-404 h1>span {
  text-shadow: -8px 0px 0px #fff;
}

.notfound .notfound-404 h3 {
  font-family: 'Cabin', sans-serif;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #262626;
  margin: 0px;
  letter-spacing: 3px;
  padding-left: 6px;
}

.notfound h2 {
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
  margin-top: 0px;
  margin-bottom: 25px;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 {
    height: 200px;
  }
  .notfound .notfound-404 h1 {
    font-size: 200px;
  }
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 162px;
  }
  .notfound .notfound-404 h1 {
    font-size: 162px;
    height: 150px;
    line-height: 162px;
  }
  .notfound h2 {
    font-size: 16px;
  }
}

/* about page */
.about{
  background-color: #EFF2F8;
}
.about .h1 {
  color: #5D16EA;
  margin-top: 5%;
}

.blog {
  margin-bottom: 15%;
}